.form

	padding 23px ratio-percentage(20,378) 20px
	min-height 329px
	background #fff
	background rgba(255,255,255, .5)
	// +below(1180px)

	&__title
		margin-bottom 28px
		color #31383d
		font-family $roboto-med
		font-size 18px
		text-transform uppercase
		text-align center
	// &__form

	&__field
		margin-bottom 10px
	&__input
		border none
		padding 12px 18px 17px
		width 100%
		background #fff
		background rgba(255,255,255, .7)
		color #70818e
		font-family $roboto-reg
		font-size 15px
		font-weight normal
		text-transform uppercase
		+placeholder()
			color #70818e
	&__select-w
		background rgba(255,255,255, .7) url('../images/general/arrow-down.png') 94% 50% no-repeat
		overflow hidden
	&__select
		border none
		padding 12px 18px 17px
		width 110%
		background transparent
		color #70818e
		font-family $roboto-reg
		font-size 15px
		font-weight normal
		text-transform uppercase
	&__button
		margin-top 20px


