include ../form/form

mixin hero()
	.hero&attributes(attributes)
		.hero__in
			.hero__content
				h1.hero__title Институциональный жизненный цикл продукции: основные моменты
				.hero__text
					p Стратегический маркетинг, как следует из вышесказанного, основан на анализе телесмотрения. Маркетинговая активность, согласно Ф.Котлеру, специфицирует коллективный пул лояльных изданий. Product placement, суммируя приведенные примеры, индуктивно концентрирует межличностный инвестиционный продукт.
				.hero__buttons
					a.button.button_style-1(href="#") Узнать больше
					a.button.button_style-2(href="#") Вопросы и ответы

			.hero__form
				+form()




