.button
	border none
	padding 14px 20px 13px
	display inline-block
	vertical-align top
	color #fff
	font-family $roboto-med
	font-size 14px
	text-transform uppercase
	text-decoration none
	transition background .3s ease
	border-radius 3px
	&_style-1
		background #0074c9
		&:hover
			background darken(#0074c9, 10)

	&_style-2
		background #e24343
		&:hover
			background darken(#e24343, 10)

	&_style-3
		background-color #318fd3
		&:hover
			background darken(#318fd3, 10)

	&_style-4
		padding 10px 20px 9px
		background #0074c9
		&:hover
			background darken(#0074c9, 10)

	&_style-5
		background-color #008fde
		text-align center
		&:hover
			background darken(#008fde, 10)

	&_wide
		width 100%
