html, body
	height 100%

.page
	background #FFF
	color #5e6b75
	font-family $roboto-reg
	font-size 14px
	font-weight normal
	line-height 1.42

.page__wrapper
	min-height 100%
	margin-bottom -216px
	overflow hidden


* html .page__wrapper
	height 100%

.page__buffer
	height 216px
