mixin footer()
	footer.footer&attributes(attributes)
		.footer__top
			.footer__in
				.footer__logo
					a.logo.logo_style-2(href='/') Logotype
				.footer__menu
					ul.footer__menu-list
						li.footer__menu-item
							a.footer__menu-link(href="#link") Услуги
						li.footer__menu-item.footer__menu-item_active
							a.footer__menu-link(href="#link") Как мы лечим
						li.footer__menu-item
							a.footer__menu-link(href="#link") Вопросы и ответы
						li.footer__menu-item
							a.footer__menu-link(href="#link") Процесс реабилитации
						li.footer__menu-item
							a.footer__menu-link(href="#link") Помощь близких
						li.footer__menu-item
							a.footer__menu-link(href="#link") Блог
		.footer__bottom
			.footer__in
				.copyright Copyright © 2016 <a class='copyright__link' href='#'>Sitename</a>. Все права защищены.
				ul.social
					li.social__item
						a.social__link.social__link_vk(href="#social") Вконтакте
					li.social__item
						a.social__link.social__link_fb(href="#social") Facebook
					li.social__item
						a.social__link.social__link_twit(href="#social") Twitter
					li.social__item
						a.social__link.social__link_mail(href="#social") Mail
